# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables (Secrets)
.env

# Data and logs
data/*
!data/.gitkeep
logs/

# Local tests
run_test.py